# Application Configuration
NODE_ENV=development
PORT=4000
CLIENT_API_HOST=http://localhost:3000
APP_URL=http://localhost:4000
X_API_KEY=X_API_KEY
SERVICE_TYPE=MainService

LOGGING=all // boolean | "all" | ["query", "schema", "error", "warn", "info", "log", "migration"];

# JWT Configuration
JWT_SECRET='JWT_SECRET'

DOCKER_IMAGE_NAME=DOCKER_IMAGE_NAME
DOCKER_IMAGE_TAG=DOCKER_IMAGE_TAG

# POSTGRES LOCAL
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123123
DB_DATABASE=personal-finance

# REDIS
REDIS_HOST=redis-server
REDIS_PORT=6379
REDIS_URL=redis://REDIS_HOST:REDIS_PORT

# EMAIL SERVICE
IS_SEND_EMAIL=true
SENDER_NAME=App Name
EMAIL_PROVIDER=GOOGLE_APP_MAIL

# SENDGRID
SENDGRID_API_KEY=test

# Google App Mail Configuration
GMAIL_USER=GMAIL_USER
GMAIL_CLIENT_ID=GMAIL_CLIENT_ID
GMAIL_CLIENT_SECRET=GMAIL_CLIENT_SECRET
GMAIL_REFRESH_TOKEN=GMAIL_REFRESH_TOKEN
GMAIL_ACCESS_TOKEN=GMAIL_ACCESS_TOKEN

# Minio Upload
STORAGE_LOCAL_ENDPOINT=minio-server
MINIO_UPLOAD_LOCAL_PORT=9000
USE_SSL=false
STORAGE_ENDPOINT=minio-server
MINIO_UPLOAD_PORT=9000
MINIO_UPLOAD_BUCKET_NAME=MINIO_UPLOAD_BUCKET_NAME
MINIO_UPLOAD_ACCESS_KEY=MINIO_UPLOAD_ACCESS_KEY
MINIO_UPLOAD_SECRET_KEY=MINIO_UPLOAD_SECRET_KEY

# RabbitMQ
RABBITMQ_USER=RABBITMQ_USER
RABBITMQ_PASSWORD=RABBITMQ_PASSWORD
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5772
RABBITMQ_URI=amqp://RABBITMQ_USER:RABBITMQ_PASSWORD@RABBITMQ_HOST:RABBITMQ_PORT

# Firebase Configuration (Frontend - Client-side)
NEXT_PUBLIC_FIREBASE_API_KEY=NEXT_PUBLIC_FIREBASE_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN
NEXT_PUBLIC_FIREBASE_PROJECT_ID=NEXT_PUBLIC_FIREBASE_PROJECT_ID
NEXT_PUBLIC_FIREBASE_APP_ID=NEXT_PUBLIC_FIREBASE_APP_ID
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET
NEXT_PUBLIC_FIREBASE_DATABASE_URL=NEXT_PUBLIC_FIREBASE_DATABASE_URL
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID

# Firebase Configuration (Backend)
FIREBASE_PROJECT_ID=FIREBASE_PROJECT_ID
FIREBASE_PRIVATE_KEY_ID=FIREBASE_PRIVATE_KEY_ID
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\abc\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=FIREBASE_CLIENT_EMAIL
FIREBASE_CLIENT_ID=FIREBASE_CLIENT_ID
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=FIREBASE_CLIENT_X509_CERT_URL
NEXT_PUBLIC_FIREBASE_DATABASE_URL=NEXT_PUBLIC_FIREBASE_DATABASE_URL

DISABLED_FEATURES=[SENTRY]